/*A css sheet which can be used for the general look of the website.
Any page-specific style changes were made in <style> tags in the html document(s)
For example, the <style> tags in index.htm are for style changes specific to the homepage*/

body {
	background-color: #FFF8DC;
	margin: 0%;
    padding: 0;
}

h1, h3 {
	text-align:center;
}

h3 {
	font-style:italic;
}

/* shrinks images to a reasonable size
if you want to upload a bigger image, then just change this */
img {
	max-height:200px;
	max-width:200px;
}

/*styles any unordered lists belonging to the navigation bar*/
nav > ul {
	padding-left: 0;
	padding-bottom: 5px;
	padding-top: 5px;
	list-style-type: none;
	background-color: #E0FFFF;
	text-align:center;
	font-size: medium;
}

nav a:hover {
	color: red;
}

nav > ul > li {
	display: inline;
	padding-right: 50px;
}

footer {
	border-top: 1px solid gray;
	text-align: center;
	font-size: .8em;
	line-height: 4em;
	margin-top: 1em;
}